{{#each this}}

  {{#if actors}}
    <div class="panel panel-primary col-md-4 movie-card">
      <div class="panel-heading">
        <h3>{{title}}</h3>
      </div>
      <div class="panel-body">
        <h4>{{year}}</h2>
        <img class="movie-card-image" src="{{posterURL}}">
        <p>{{actors}}</p>
      </div>
      <div class="rating c-rating"></div>
      <div id="{{id}}" class="panel-footer">
        <button type="button" class="deleteButton btn btn-danger btn-sm">Delete This Movie</button>
      {{#if watched}}
        <button type="button" class="watched btn btn-success btn-sm">Watched</button>
      {{else}}
        <button type="button" class="watched btn btn-default btn-sm">UnWatched</button>
      {{/if}}
      </div>
    </div>

  {{else}}

    <div class="panel panel-primary col-md-4 movie-card">
      <div class="panel-heading">
        <h3>{{title}}</h3>
      </div>
      <div class="panel-body">
        <h4 class="col-md-2">{{year}}</h2>
        <img class="movie-card-image" src="{{posterURL}}">
      </div>
      <div class="panel-footer">
        <button type="button" class="saveButton btn btn-primary">Save This Movie</button>
      </div>
    </div>
  {{/if}}

{{/each}}
